$colorBlackText: #282828;
$colorWhiteText: #F7F7F7;
$colorWhiteTextMini: #EBEBEB;
$colorGreyLight: #E1E1E1;
$colorGrey: #C4C4C4;
$colorGreyDark: #969696;
$colorGreyDarkDeep: #4E4E4E;
$colorOrange: orange;

$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorGold: #D29C4E;

$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
