@import '_variables.scss';
@import '_mixin.scss';

html {
  box-sizing: border-box;
}

// html,
// body {
//   overscroll-behavior: none;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  @include setFontStyleOpenSans();
  display: inline-grid;
  grid-auto-flow: column;
  gap: 5px;
  padding: 10px 26px;
  align-items: center;
  font-size: 12px;
  font-weight: $fontWeightBold;
  background-color: $colorGold;
  color: $colorWhite;
  border-radius: 25px;
  text-transform: uppercase;
  transition: background-color .3s linear, color .3s linear;

  &:hover {
    background-color: $colorBlack;
    color: $colorWhite;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: $colorBlack;
    color: $colorWhite;
  }

  & svg {
    transition: stroke .3s linear;
  }

  &:hover svg {
    stroke: $colorWhite;
  }

  &:focus-visible svg {
    stroke: $colorWhite;
  }
}

.btn-second {
  display: inline-block;
  padding: 14px 50px;
  background-color: $colorBlackText;
  font-size: 14px;
  font-weight: $fontWeightRegular;
  color: $colorWhiteText;
  transition: background-color .3s linear, color .3s linear, border .3s linear;
  border: 1px solid transparent;

  &:hover {
    background-color: $colorWhite;
    color: $colorBlack;
    border-color: $colorBlack;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: $colorWhite;
    color: $colorBlack;
    border-color: $colorBlack;
  }
}

.title {
  @include setFontStyleRex();
  font-size: 64px;
  color: $colorWhite;
  line-height: 0.9;
}

.subtitle {
  font-size: 36px;
  font-weight: $fontWeightRegular;
  color: $colorBlack;
}

.text {
  font-size: 15px;
  // font-weight: $fontWeightLight;
  line-height: 180%;
  color: $colorBlack;
}

.text-mini {
  color: $colorWhiteTextMini;
  font-size: 12px;
  font-weight: $fontWeightRegular;
}

.arrow-right {
  width: 40px;
  height: 32px;
  stroke: $colorBlackText;
  fill: transparent
}

.arrow-left {
  width: 40px;
  height: 32px;
  stroke: $colorBlackText;
  fill: transparent
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $colorWhiteTextMini;
  transform: translate(0px, 4px);

  &--offset {
    transform: translate(20px, 4px);
  }
}


.disable-scroll {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

@media (max-width: 768px) {

  .text-mini {
    color: $colorGrey;
  }
}

@media (max-width: 576px) {
  .subtitle {
    font-size: 28px;
  }
}
